/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #443c68;
  --ifm-color-primary-dark: #3d365e;
  --ifm-color-primary-darker: #3a3358;
  --ifm-color-primary-darkest: #302a49;
  --ifm-color-primary-light: #4b4272;
  --ifm-color-primary-lighter: #4e4578;
  --ifm-color-primary-lightest: #584e87;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #d3b9d4;
  --ifm-color-primary-dark: #c4a0c5;
  --ifm-color-primary-darker: #bc94bd;
  --ifm-color-primary-darkest: #a56fa7;
  --ifm-color-primary-light: #e2d2e3;
  --ifm-color-primary-lighter: #eadeeb;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-background-color: #18122b;
}

.featureImg {
  max-width: 100px;
  height: auto;
  margin: 0 auto;
}
